.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.bbl
*.log
*.out
*.synctex.gz
*.tex
*.html
*.pdf
!preamble.tex
*.ind
*.ilg
*.idx
*.blg
*.toc
.DS_Store
*.lof
*.lot
!veredicto-MSc.pdf
!Trabajo-de-Grado-Modelos-AlexanderRamirez-resumen.pdf
!Trabajo-de-Grado-Modelos-AlexanderRamirez.pdf
