.Rproj.user
.Rhistory
.RData
.Ruserdata
*.aux
*.bbl
*.log
*.out
*.synctex.gz
*.tex
*.html
*.pdf
!preamble.tex
*.ind
*.ilg
*.idx
*.blg
*.toc
.DS_Store
*.lof
*.lot
!veredicto-MSc.pdf
!Trabajo-de-Grado-Modelos-AlexanderRamirez-resumen.pdf
!Trabajo-de-Grado-Modelos-AlexanderRamirez.pdf
!index.html
!Alexander-Ramirez-PMA-trabajo-de-grado.pdf
!Alexander-Ramirez-PMA-portada-veredicto-resumen.pdf
!Anteproyecto-AlexanderRamirez-07-11-2018.pdf
!CIFAR-Keras-100.pdf
!MNIST-Keras.pdf
!Lineal.pdf
